:root {
  --page-width: min(1300px, 95vw);
  --inner-width: min(1000px, 95vw);
}
.App {
  text-align: center;
  color: white;
  background-color: #1e1f21;
  font-size: calc(15px + 1.0vmin);
  overflow: hidden;
  max-width: 100vw;
  min-height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.App-header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App-inner-header {
  max-width: var(--page-width);
  min-width: var(--page-width);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.App-inner-header > div:last-child {
  flex-grow: 1;
}
.App-inner-header > div:first-child {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-grow: 2;
  pointer-events: none;
}
.Header-title > object {
  height: 24vmin;
  padding: 3vmin 3vmin 0;
}
.Header-title > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-bottom: 0.5em;
}
.Header-title > div > h2 {
  margin-bottom: 0.25em;
}
.Header-icons {
  color: white;
  fill: white;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.Header-icons > div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.Header-icons > div > a {
  color: white;
  padding: 1vmin;
  size: 2em;
}
.Header-icons > div > a:hover {
  color: #aeaeae;
  transition: 0.3s;
}

.tabbar-container {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 0 0 1vmin;
}

.tabbar-tab-container {
  max-width: var(--page-width);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tabbar-margin {
  display:none;
  flex-grow: 1;
  height: 2px;
  align-self: center;
  background-color: white;
  transform: skew(20deg);
}
.tabbar-margin.left {
  margin-right: 3vmin;
}
.tabbar-margin.right {
  margin-left: 3vmin;
}
.tabbar-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  transform: skew(20deg);
  padding: unset;
  margin: unset;
  border-radius: unset;
}
.tabbar-tab.selected {
  background-color: white;
}
.tabbar-tab.unselected { 
  background-color: unset;
}

.tabbar-tab-text {
  font-size: calc(12px + 1.5vmin);
  margin: 0 4vmin;
  transform: skew(-20deg);
}
.tabbar-tab-text.unselected{
  color: white;
}
.tabbar-tab-text.selected{
  color: #1e1f21;
}

.App-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.App-page > * {
  max-width: var(--page-width);
}
.App-page > p {
  max-width: var(--inner-width);
  margin: 1vmin 0 1vmin 0;
}
div.bio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  max-width: min(1500px, 95vw);
}
div.selfie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 4vmin 4vmin 0 0;
}
@media only screen and (max-width: 1500px) {
  div.selfie {
    display: none;
  }
}
img.selfie {
  max-width: min(70vw, 400px);
  border: 5px solid white;
  transform: rotate(-15deg);
  margin: 15px 15px 50px;
}
p.caption {
  font-size: calc(5px + 0.8vmin);
}
p.summary {
  margin: 0.5em 0 0 1.5em;
  min-width: 25vw;
  max-width: 900px;
}

.section-title-container {
  margin: 4vmin 0 0 10vmin;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
}
.section-title {
  padding: 1.5vmin !important;
}

.projects-list-container {
  width: 100%;
}
.projects-list {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin: 0 0 0 6vmin;
  flex-wrap: wrap;
}
.projects-list-filters {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 4vmin;
}
.projects-list-filters > *:first-child{
  padding: 0 2vmin 0 0;
}
.projects-list-filters > p {
  margin-right: 4vmin;
  font-size: calc(15px + 0.7vmin);
}
.projects-list-filters > div:last-child {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: min(80vmin, 450px);
}
.projects-list-item > div {
  width: 100%;
}
.projects-list-item .title-row {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  display: flex;
  width: 100%;
}
.projects-list-item {
  margin: 20px 0 0 20px;
  width: min(320px, 90vw);
  background-color: #313640;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: -4px 2px 5px rgba(0,0,0, 0.4);
  padding: 1vmin;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
@media only screen and (max-width: 820px) {
  .projects-list-item {
    width: 90vw;
  }
}
.projects-list-item .title {
  all: unset;
  cursor: pointer;
}
.projects-list-item .title {
  font-family: 'Rubrik', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: calc(5px + 2vmin);
  flex-wrap: nowrap;
  flex-grow: 1;
}
.projects-list .description {
  font-size: calc(15px + 0.4vmin);
}
.tech-tag-list {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.projects-list-item .tech-tag-list {
  width: 100%;
  align-self: flex-end;
}
.tech-tag {
  border-radius: 10px;
  padding: 2px 10px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 0.6vmin);
}
.tech-tag.unselected {
  background-color: #434343 !important;
  color: white !important;
}
.tech-tag.Javascript {
  background-color: #E55934;
}
.tech-tag.React {
  background-color: #9C46FF;
}
.tech-tag.Node {
  background-color: #5BC0EB;
}
.tech-tag.MongoDB {
  background-color: #FDE74C;
  color: black;
}
.tech-tag.Python {
  background-color: #FA7921;
}
.tech-tag.MySQL {
  background-color: #5e54d1;
}
.tech-tag.Shopify {
  background-color: #9C46FF;
}
.tech-tag.Liquid {
  background-color: #00bb99;
}
.tech-tag.Typescript {
  background-color: #00bb99;
}
.tech-tag.Wix {
  background-color: #e654dc;
}
.tech-tag.GraphQL {
  background-color: #2be052;
  color: black;
}
.empty-projects-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 4vmin 0;
}
.empty-projects-list > * {
  padding-right: 1vmin;
}

.github-link {
  color: white;
  padding-left: 0.4vmin;
}
.project-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding-right: 5vmin;
}
.project-header .tech-tag-list {
  max-width: min(300px, 90vw);
}
.footer-container {
  width: 100%;
  margin: 0 0 5vmin 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-container > div:first-child{
  margin: 5vmin 0 8vmin 0 !important;
}
.footer-container .footer-content {
  width: var(--page-width);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-container .footer-content > * {
  padding: 0 0 2vmin 5vmin;
}
.footer-content > form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.footer-input {
  color: white;
  background-color: unset;
  border: 1px solid #7d7d7d;
  padding: 4px;
  margin-bottom: 2vmin;
}
.footer-input.email {
  max-width: min(500px, 90vw);
}
.footer-input.message {
  resize: both;
  max-width: 70vw;
  min-width: 10vmin;
  word-wrap: normal;
  word-break: break-all;
  box-sizing: border-box;
}
.footer-input.error {
  border: 3px solid #fc7171;
  margin-bottom: 0px;
}
p.form-error {
  font-size: calc(12px + 0.4vmin);
  color: #fc7171;
  margin-bottom: 2vmin;
}
.footer-form > button {
  margin-top: 2vmin;
  background-color: #313640;
  padding: 1vmin 2vmin;
  border-radius: 15px;
  align-self: center;
}
.project-scope-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5vmin 0 2vmin;
}
.project-scope-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10vmin;
}
.back-to-home-link {
  margin-top: 4vmin;
}
.split-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 1vmin 0 1vmin 0;
}
.split-row.images {
  align-items: center;
}

@media only screen and (min-width: 1200px) {
  .split-row > * {
    width: 47%;
  }
  .split-row.images > * {
    width: 39%;
    border: 4px solid white;
  }
}
@media only screen and (max-width: 1200px) {
  .split-row {
    flex-direction: column-reverse;
    align-items: center;
  }
  .split-row > * {
    max-width: var(--inner-width);
  }
}
.fullpage-img {
  margin: 2vmin 5vmin;
  max-width: min(var(--inner-width), 80vw);
}