.App {
  text-align: center;
  color: white;
  background-color: #1e1f21;
  font-size: calc(10px + 1.5vmin);
  overflow: hidden;
}
.App-header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App-inner-header {
  max-width: min(1500px, 95vw);
  min-width: min(1500px, 95vw);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.App-inner-header > div:last-child {
  flex-grow: 1;
}
.App-inner-header > div:first-child {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-grow: 2;
  pointer-events: none;
}
.Header-title > object {
  height: 24vmin;
  padding: 3vmin 3vmin 0;
}
.Header-title > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-bottom: 0.5em;
}
.Header-title > div > h2 {
  margin-bottom: 0.25em;
}
.Header-icons {
  color: white;
  fill: white;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.Header-icons > div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.Header-icons > div > a {
  color: white;
  padding: 1vmin;
  size: 2em;
}
.Header-icons > div > a:hover {
  color: #aeaeae;
  transition: 0.3s;
}

.tabbar-container {
  width: 120%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  transform: translate(-10%, 0);
  margin: 10px;
}
.tabbar-margin {
  flex-grow: 1;
  height: 100%;
  transform: scale(1.01, 1) skew(20deg);
}
.tabbar-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(33vmin, 200px);
  transform: skew(20deg);
}
.tabbar-tab.selected {
  background-color: white;
}
.tabbar-tab.unselected { 
  background-color: #1e1f21;
}

.tabbar-tab-text {
  font-size: calc(10px + 1.5vmin);
  transform: skew(-20deg);
}
.tabbar-tab-text.unselected{
  color: white;
  background-color: #1e1f21;
}
.tabbar-tab-text.selected{
  color: #1e1f21;
  background-color: white;
}

.App-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.App-page > * {
  max-width: min(900px, 95vw);
}
