body {
  font-family: "Anonymous Pro", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

p {
  margin: 0;
}

h1, h2 {
  font-family: 'Rubik', sans-serif;
  font-size: calc(25px + 2vmin);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  letter-spacing: 0.10em;
  font-weight: 700;
  font-style: italic;
  margin: 0;
  font-size: calc(28px + 2vmin);
}

h3, h4 {
  font-family: 'Rubik', sans-serif;
  font-size: calc(25px + 2vmin);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 500;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}