body {
  font-family: "Anonymous Pro", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

p {
  margin: 0;
}

a:-webkit-any-link {
  color: unset;
}

h1, h2 {
  font-family: 'Rubik', sans-serif;
  font-size: calc(25px + 2vmin);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  letter-spacing: 0.10em;
  font-weight: 700;
  font-style: italic;
  margin: 0;
  font-size: calc(28px + 2vmin);
}

h3, h4 {
  font-family: 'Rubik', sans-serif;
  font-size: calc(25px + 2vmin);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 500;
  margin: 0;
}

textarea, input {
  all: unset;
}


button {
  all: unset;
  cursor: pointer;
}

button:not(.tabbar-tab, .tech-tag), .button {
  cursor: pointer; 
  padding: 1.5vmin 2vmin;
  font-weight: 500;
  letter-spacing: 0.05em;
  border-radius: 15px;
  background-color: #313640;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  font-size: calc(15px + 0.6vmin);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 500;
  margin: 0;
}

#vline {
  border-left: 1px solid white;
  margin: 0 0.6em;
}
#hline {
  border-top: 1px solid white;
  margin: 0.6em 0;
}
#row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
#col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#leftcol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#cornerbordercontent {
  position:relative;
  padding: 3vmin 3vmin;
  margin: 3vmin 3vmin;
}
#cornerbordercontent:before, #cornerbordercontent:after, #cornerbordercontent>:first-child:before, #cornerbordercontent>:first-child:after {
    position:absolute;
    width:10px; height: 10px;
    border-color:white; /* or whatever colour */
    border-style:solid; /* or whatever style */
    content: ' ';
}
#cornerbordercontent:before {top:0;left:0;border-width: 1px 0 0 1px}
#cornerbordercontent:after {top:0;right:0;border-width: 1px 1px 0 0}
#cornerbordercontent>:first-child:before {bottom:0;right:0;border-width: 0 1px 1px 0}
#cornerbordercontent>:first-child:after {bottom:0;left:0;border-width: 0 0 1px 1px}
